<!DOCTYPE html>
<html>
  <head>
    <title>MUSICAL PREFERENCE</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body >
    <h1 >MUSICAL PREFERENCE</h1>
    <p >
      Music is one of my long-standing interests, contributing to my personal well-being and daily productivity. It offers a calm environment where I can think clearly and stay organised. Over time, it has become a reliable way to stay inspired, improve focus, and bring a sense of balance to my everyday schedule.  </p>
      <img src="/images/music.jpg" >
  </body>
</html>
