<!DOCTYPE html>
<html>
  <head>
    <title>TRAVEL BLOG WEBSITE</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      body{
        background-color: rgb(216, 212, 207);
      }
      h1{
        font-style: italic;
        color: rgb(49, 35, 16);
        text-align: center;
      }
      p{
        font-style: normal;
        color: rgb(116, 90, 58);
        text-align: justify;
      }
    </style>
  </head>
  <body>
    <h1>TRAVEL BLOG WEBSITE</h1>
    <p>
      A blog is a website or a part of a website that is regularly updated with new content, typically written in an informal and conversational tone. Posts, which can be about anything from personal experiences to professional expertise, are usually displayed in reverse chronological order, with the most recent post appearing first.
    That's what people often ask me about how I feel like I enjoy the moment even more, soaking in the experience and vibe even deeper. Concentrating on capturing the essence of a landscape, an event, a situation actually helps me to be fully aware of my whole surrounding.Over the last, lets say five to six years, I've made quite a lot of photography mistakes which resulted in a crazy amount of bad pictures. Whenever I returned home after a short or long-term trip and checked the photos on my computer. </p>
   . </p>
      <img src="/images/blog.jpg" alt="BLOG WEBSITE" style="border: 3px solid; display: block; margin: auto; width: 500px; height: 400px;" >
  </body>
</html>
