/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */
h1 {
    text-align: center;
    font-size: 40px;
    color: #2c3e50;
    margin-top: 20px;
}

p {
    text-align: center;
    text-align: justify;
    font-size: 18px;
    width: 70%;
    margin: 10px auto;
    color: #444;
}

img {
    width: 600px;
    display: block;
    margin: 20px auto;
    border-radius: 12px;
}
